/*
SPDX-FileCopyrightText: Thomas Fischer <thomas.fischer@his.se>
SPDX-License-Identifier: GPL-3.0-or-later
*/
div.block {
	border-left: 0.5em solid #ccc;
	padding: 1em;
	background: #eee;
	margin-top: 2em;
}

div.block:first-child {
	margin-top: 0em;
}

div.block > h2:first-child {
	margin-top: 0ex;
}

div.block > p:last-child {
	margin-bottom: 0ex;
}

div.specialblock {
	border-left: 0.5em solid #333;
	padding: 1em;
	background: #eee;
	margin-top: 2em;
}

div.specialblock:first-child {
	margin-top: 0em;
}

div.specialblock > p:first-child {
	margin-top: 0ex;
}

div.specialblock > p:last-child {
	margin-bottom: 0ex;
}

table > thead > tr > th {
	background: white;
	text-align: left;
}

table > thead > tr > th.filename {
	width: 40%;
}

table > thead > tr > td.filename {
	width: 40%;
}

table.queue {
	width: 100%;
}

table.queue > thead > tr > td.uploaddate {
	width: 60%;
}

table.processed {
	width: 100%;
}

table.processed > thead > tr > th.uploaddate {
	width: 60%;
}

table.results {
	width: 100%;
}

table.results > thead > tr > th.resultverapdf {
	width: 15%;
}

table.results > thead > tr > th.resultpdfbox {
	width: 15%;
}

td.filename > img {
	width: 0.8em;
	height: 0.8em;
}

td.resultverapdf > img {
	width: 0.8em;
	height: 0.8em;
}

td.resultpdfbox > img {
	width: 0.8em;
	height: 0.8em;
}

/* tooltip */

td.tooltip {
	position: relative;
}

td.tooltip .tooltiptext {
	display: none;
	position: absolute;
	z-index: 1;
	background-color: rgba(0,0,0,0.8);
	padding: 0pt;
	padding-left: 4ex;
	padding-right: 1ex;
	text-indent: -3ex;
	color: white;
	top: 0pt;
	left: 20em;
}

td.tooltip:hover .tooltiptext {
	display: block;
}
